<div>
<h1>Hello!</h1>
  <p>I'm a proxy server for Translink! <b>You don't need an API key to access me!</b></p>

<h2>Supported requests</h2>
 <p>I will only proxy the requests needed to complete the CPSC 210 BusesAreUs application. </p>

<h2>Cache interval</h2>
  <p>I cache responses for <b>15 minutes</b>. If you want realtime data, try to get an API key and use the API directly.</p>

</div>
